body {
   font-family: 'Arial', sans-serif;
   /*background-color: #A1C9DF;*/
   margin: 0;
   padding: 0;
   /*display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;*/
   height: 100vh;
}
.logo {
   width: 100px;
   height: 100px;
   margin-bottom: 20px;
   border-radius: 50%;border-radius: 50%;
   position: absolute; top: 0; left: 0;
   padding-left: 10px;
   padding-top: 10px;
}
.container {
   background: white;
   padding: 30px;
   border-radius: 20px;
   border-color: black;
   border-style: solid;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   width: 80%;
   max-width: 500px;
   position: absolute;
   top: 115%;
   left: 50%;
   transform: translate(-50%, -50%);
}
h1 {
   color: #4A7D96;
   font-size: 2rem;
}
p {
   color: #666;
   font-size: 1rem;
}
.button {
   background-color: #4A7D96;
   color: white;
   padding: 10px 20px;
   border-radius: 10px;
   text-decoration: none;
   font-weight: bold;
   display: inline-block;
   margin-top: 20px;
   transition: background 0.3s ease;
}
.button:hover {
   background-color: #356074;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding: 10px;
   width: 100%;
}

.social-icon {
   width: 50px;
   height: 50px;
   margin: 10px;
}

.bottom {
   height: 50vh;
   background-color: #A1C9DF;
}

.stats-section {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 60% 20%;
}
.stats-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
}
.stat-box {
    padding-top: 10px;
    min-width: 150px;
}
.stat-number {
    font-size: 2em;
    font-weight: bold;
    color: #356074;
}
.stat-label {
    font-size: 1em;
    color: #333;
}

#chatbot-box {
   position: absolute;
   width: 300px;
   max-height: 400px;
   background: white;
   border-radius: 12px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   padding: 10px;
   font-family: sans-serif;
   overflow-y: auto;
}
#chatbot-input {
   width: 100%;
   padding: 5px;
   border: 1px solid #ccc;
   margin-top: 10px;
}

@media only screen and (min-width: 801px) {

   #chatbot-box {
      bottom: 20px;
      right: 20px;
   }
}

@media only screen and (max-width: 800px) {

   .stats-container {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
   }

   #chatbot-box {
      bottom: 200px;      
      left: 50%;
      transform: translate(-50%);
   }
}